<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container">
        <h1>Edit Post</h1>
        <form action="/posts/<%= req.body.id %>" method="post">
            <div class="content-input">
                <input type="text" placeholder="Id" name="id" value="<%= req.body.id %>">
                <input type="text" placeholder="Joke" name="joke" value="<%= req.body.joke %>">
                <input type="text" placeholder="Author" name="author" value="<%= req.body.author %>">
            </div>
            <button type="submit">Post</button>
        </form>
    </div>
</body>
</html>